<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047863896249-4p6vkliifk0n2uqjhva681d18gndp67a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047863896249-4p6vkliifk0n2uqjhva681d18gndp67a</string>
	<key>API_KEY</key>
	<string>AIzaSyA_UWxdTuTldy5Bf1bY5ocZW1iMB8mcL1s</string>
	<key>GCM_SENDER_ID</key>
	<string>1047863896249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appProject</string>
	<key>PROJECT_ID</key>
	<string>wallet-a3c81</string>
	<key>STORAGE_BUCKET</key>
	<string>wallet-a3c81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047863896249:ios:093fbc23c12661392e5368</string>
</dict>
</plist>